h1 {
    align-self: center;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fancy {
    
}

.button {
    display: grid;
    gap: 1rem;
    align-items: flex-start;
    margin-bottom: 1rem;
}
  
.budgetcard {
    display: grid;
    gap: 1rem;
    align-items: flex-start;
}

p {
    font-size: 30px;
}

.tutorial-1 {
    background-color: #91b065;
    border-radius:25px;
    border: 2px solid #6cad12;
    border-width: thick;
    padding: 20px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align:center;
    height: 40vh;
    width: 90vw;
  }

  .tutorial-2 {
    background-color: #71a9fd ;
    border-radius:25px;
    border: 2px solid #0d6efd ;
    border-width: thick;
    padding: 20px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align:center;
    height: 40vh;
    width: 90vw;
  }

.tab-list {
    border-bottom: 5px solid #ccc;
    border: solid gray;
    border-width: 0 1px 1px 0px;
    padding-left: 0;
}
  
.tab-list-item {
    display: inline-block;
    list-style: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}
  
.tab-list-active {
    background-color: white;
    border: solid gray;
    border-width: 1px 1px 0 1px;
}